scatterCache/build
scatterCache/gem5_build
scatterCache/parser.out
scatterCache/parsetab.py
scatterCache/cscope.files
scatterCache/cscope.out
scatterCache/*.pyc
scatterCache/*~
scatterCache/.*.swp
scatterCache/.*.swo
scatterCache/m5out
scatterCache/src/doxygen/html
scatterCache/docs/_build
scatterCache/ext/dramsim2/DRAMSim2
scatterCache/ext/mcpat/regression/*/*.out
scatterCache/util/m5/*.o
scatterCache/util/m5/*.a
scatterCache/util/m5/m5
scatterCache/util/packet_pb2.py
scatterCache/util/tap/*.d
scatterCache/util/tap/*.o
scatterCache/util/tap/m5tap
scatterCache/util/term/m5term
scatterCache/system/arm/dt/*.dtb
scatterCache/system/arm/dt/.gen
scatterCache/system/arm/bootloader/arm/*.o
scatterCache/system/arm/bootloader/arm/boot.arm
scatterCache/system/arm/bootloader/arm/boot_emm.arm
scatterCache/system/arm/bootloader/arm64/*.o
scatterCache/system/arm/bootloader/arm64/boot.arm64
scatterCache/system/arm/bootloader/arm64/boot_emm.arm64
scatterCache/system/arm/bootloader/arm64/boot_v2.arm64
scatterCache/configs/example/memcheck.cfg
scatterCache/configs/dram/lowp_sweep.cfg
scatterCache/.pyenv
scatterCache/.vscode
scatterCache/typings
scatterCache/.DS_Store
